{% extends 'SunatBundle:Secured:index.html.twig' %}
{% block content %}
<ul id="myTab" class="nav nav-tabs">
    <li><a href="{{ path('person_add') }}" >Agregar</a></li>
    <li class="active"><a href="{{ path('person_list') }}" >Consultar</a></li>
</ul>
<div id="tabContenido" class="tab-content">
    <div class="tab-pane fade active in" id="new">
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Consultar Persona</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('person') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Nombre</th>
                        <th>Ruc</th>
                        <th>Phone</th>
                        <th>Tipo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr {% if loop.index is odd %}class="info"{% endif %}>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.ruc }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.displaytype }}</td>
                        <td>
                            <a href="{{ path('person_edit', {'pk': item.id}) }}" title="Editar">
                                <i class="icon-edit"></i> </a>
                            <a href="{{ path('person_delete', {'pk': item.id}) }}" title="Eliminar">
                                <i class="icon-trash"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
            {{ knp_pagination_render(pagination) }}
            </div>
        </div>
            <div class="modal-footer">
                <a href="#" class="btn">Cerrar</a>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
